/*****PRODUCT LIST******/
.wrap-items.grid .items {
  display: flex;
  flex-wrap: wrap;
}
.wrap-items .bar {
  background: #eee;
}
.wrap-items .bar:after {
  content: "";
  clear: both;
  visibility: hidden;
  display: table;
}
.wrap-items .bar .btn-group {
  float: right;
}

.dorc-product {
  padding: 5px;
  margin: 3px;
}
@media screen and (min-width: 576px) {
  .dorc-product .flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
  }
}
@media screen and (max-width: 575px) {
  .dorc-product .flex {
    display: block;
  }
}
.dorc-product .dorc-images {
  border: 1px solid #eee;
}
@media screen and (min-width: 576px) {
  .dorc-product .dorc-images {
    float: left;
    width: 300px;
  }
  .dorc-product .dorc-images img {
    width: 100%;
    height: auto;
  }
}
.dorc-product.details .dorc-product-action {
  width: 100%;
  margin: 0 0 0 10px;
}
.dorc-product .description {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

.items {
  margin-left: -3px;
  margin-right: -3px;
}
.items:after {
  content: "";
  clear: both;
  visibility: hidden;
  display: table;
}

.grid .dorc-product {
  width: calc(100% - 6px);
  min-height: 300px;
  background: #ededed;
  border: 1px solid;
}
.grid .dorc-product .image-content {
  margin: -5px -5px 5px -5px;
}
.grid .dorc-product .image-content img {
  width: 100%;
  height: auto;
}
.grid .dorc-product .title-content {
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .grid .dorc-product {
    float: left;
  }
}
@media screen and (min-width: 768px) {
  .grid .dorc-product {
    width: calc(33.3333333333% - 6px);
  }
  .grid .dorc-product:nth-child(3n+1) {
    clear: both;
  }
}

.list .dorc-product {
  min-height: 100px;
  background: #ededed;
}
.list .dorc-product:after {
  content: "";
  clear: both;
  visibility: hidden;
  display: table;
}
.list .dorc-product .image-content img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 480px) {
  .list .dorc-product .image-content {
    float: left;
    margin-right: 10px;
  }
}
@media screen and (min-width: 992px) {
  .list .dorc-product .image-content img {
    width: 100px;
  }
}
.list .dorc-product .title-content {
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .list .dorc-product .dorc-product-action {
    float: right;
    margin-top: 15px;
  }
  .list .dorc-product .content {
    max-width: 70%;
    float: left;
  }
}
.dorc-product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dorc-product-form > div {
  flex: 0 0 100%;
}

.dorc-product-form > div:not(:last-of-type) {
  flex: 0 0 calc( 33% - 10px);
  display: block;
  margin-bottom: 10px;
}

.dorc-product-form > div:last-of-type {
  text-align: end;
}

.dorc-product-form label {
  display: block;
}

.dorc-product-form input:not([type=submit]),
.dorc-product-form select {
  background-color: transparent;
  border: 1px solid #eee;
  padding: 5px;
  width: 100%;
}

.dorc-list-variations-cart {
  list-style: none;
  padding: 0;
}
.dorc-list-variations-cart li:nth-child(2n+1) {
  background-color: #eee;
}
.dorc-list-variations-cart li {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.dorc-list-variations-cart li span {
  margin: 10px;
}

#quantity-total {
  margin-bottom: 15px;
  border: 1px solid #eee;
  background-color: #eee;
  text-align: right;
  padding: 0 5px;
}
#quantity-total span {
  font-weight: bold;
}

#dorcorc .btn {
  margin: 10px 0;
}

.dorc-product-action .list-group-item h5 i {
  vertical-align: middle;
}

.dorc-thumbnail {
  width: 50px;
  height: auto;
}

.dorc-products-list.grid {
  display: flex;
  flex-wrap: wrap;
}

.dashicons {
  vertical-align: middle;
}
